@import './colors';
@import './fonts';
@import './globals';

body {
  margin: 0;
  font: 16px / 1.6 'Fira Sans', sans-serif;
}

.mid {
  width: $default-page-width;
  margin: 0 auto;
}

.page {
  margin: 45px 0;
}

a {
  text-decoration: none;
  color: lighten($accent, 25%);

  &:hover {
    color: lighten($accent, 50%);
  }
}
