@import './colors';
@import './fonts';
@import './globals';
@import './mixins';

body {
  margin: 0;
  font: 16px / 1.6 'Fira Sans', sans-serif;
}

.mid {
  width: $default-page-width;
  margin: 0 auto;

  &.auth {
    width: 400px;
  }

  @include md-break {
    width: auto;
    margin: 0;
    padding: 0 15px;
  }
}

.page {
  margin: 45px 0;
}

a {
  text-decoration: none;
  color: lighten($accent, 25%);

  &:hover {
    color: lighten($accent, 50%);
  }
}

h1, h2 {
  font-weight: 300;
}

h1 {
  font-size: 30px;
}

.input-wrapper {
  padding: 15px 0;
}

label {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
}

input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-family: 'Fira Sans', sans-serif;
  padding: 15px 20px;
  border: 1px solid $accent;
  outline: none;

  &:focus {
    background: #f3f3f3;
  }
}

button {
  display: inline-block;
  border: 0;
  background: $accent;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  padding: 15px 25px;
  cursor: pointer;
  outline: none;
  transition: background 150ms linear;

  &:hover {
    background: lighten($accent, 10%);
  }

  &[disabled] {
    background: #aaa;
    cursor: not-allowed;
  }
}

.slide-fade-enter-active, .slide-fade-leave-active {
  transition: opacity .2s linear,
              transform .2s linear;
}

.slide-fade-enter, .slide-fade-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.table {
  .row {
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    align-items: flex-start;

    .name, .value {
      box-sizing: border-box;
      padding: 10px;
    }

    .name {
      width: 30%;
      font-weight: bold;
    }

    .value {
      width: 70%;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}
