// sinkinsans

@font-face {
  font-family: 'sinkinsans';
  src: url('fonts/sinkinsans/sinkinsans-regular.woff') format('woff'),
       url('fonts/sinkinsans/sinkinsans-regular.ttf')  format('ttf');
  font-weight: normal;
  font-style: normal;
}
